* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}
.login {
  max-width: 450px;
  border-radius: 20px !important;
}
.g_button {
  background-color: #48f;
}
.f_button {
  background-color: #46a;
}
